/* GOAL PAGE */

.btn-todo{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #fff;
    color: #0A3981;
    border: #0A3981 solid 2px;
    border-radius: 10px;
}

.btn-todo:hover{
    background-color: #0A3981;
    color: #fff;
}

.btn-inprogress{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.btn-completed{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: darkgray;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.btn-goal-done{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #0A3981;
    color: #fff;
    border-radius: 10px;
    border: none;
}

/* GOAL PAGE END */