/* ARTICLE PAGE */

.article-title{
    font-size: 20px;
    font-weight: 600;
}
.article-page img{
    width: 30%;
    height: 30%;
}
.article-category{
    padding: 10px 20px;
    background-color: #0A3981;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font-size: 8px;
    font-weight: 400;
}

.btn-date{
    padding: 10px 20px;
    background-color: #0A3981;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font-size: 12px;
    font-weight: 400;
}


/* ARTICLE PAGE END */

/* CATEGORY NAME */

.transportation-name{
    padding: 10px 20px;
    background-color: #0A3981;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font-size: 8px;
    font-weight: 400;
}
.energy-name{
    padding: 10px 20px;
    background-color: lightgreen;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font-size: 8px;
    font-weight: 400;
}
.diet-name{
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font-size: 8px;
    font-weight: 400;
}

/* CATEGORY NAME END */